.icon {
    filter: grayscale(100%);
    transition: filter 0.5s ease;
    padding-right: 5px;
}

.icon-container {
    &:hover {
        text-decoration: underline;
        .icon {
            filter: grayscale(0%);
        }
    }
}

.tong {
    
    justify-content: center; /* Căn giữa theo chiều ngang */
    width: 50%; 
    margin: 0 auto;
}

.hoptextbox {
    width: 100%;
}