.flight-search-bar-container {
  background: url('../../assets/flight_banner.jpg') no-repeat center center / cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

  .search-container {
    padding: 0 30px;
    width: 60%;
    height: 250px;
    background-color: rgba(98, 142, 203, 0.75);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .search-row1 {
      display: flex;
      height: 80px;
      margin-bottom: 20px;

      .flight-location-container {
        background-color: #fff;
        border-radius: 10px;
        margin-right: 1%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .from-to-txt {
          font-weight: 300;
        }

        .from-to-box {
          flex: 1;
          margin-left: 10px;
        }

        .v-line {
          border-left: 3px solid #ccc;
          margin: 0 10px;
          height: 80%;
        }
      }

      .quantity-container {
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .from-to-txt {
          font-weight: 300;
        }

        .from-to-box {
          flex: 1;
          margin-left: 10px;
        }
      }

    }

    .search-row2 {
      display: flex;
      height: 80px;

      .flight-time-container {
        background-color: #fff;
        border-radius: 10px;
        margin-right: 1%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .from-to-box {
          flex: 1;
          margin-left: 10px;

          .custom-date-picker {
            width: 100%;
            border: 1px solid #ced4da;
            border-radius: 5px;
            padding: 5px;
            font-size: 0.875rem;
            color: #333;

            &:focus {
              border-color: #628ECB;
              outline: none;
              box-shadow: 0 0 0 0.2rem rgba(98, 142, 203, 0.25);
            }
          }
        }

        .from-to-txt {
          font-weight: 300;
        }

        .v-line {
          border-left: 3px solid #ccc;
          margin: 0 10px;
          height: 80%;
        }
      }

      .seacrh-btn-container {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .find-flight-btn {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }

  }
}