.select-btn {
  border-radius: 10px;
  background-color: #e3e4e6;
  border: none;
  color: #6191f2;
  font-weight: bold;
  margin-right: 10px;
  box-shadow: 5px 5px #6191f2;
}
.select-btn:focus {
  color: white;
  background-color: #6191f2;
}
.booking-btn{

  border: none; 
  border-radius: 10px;
  padding: 10px 20px;
  // transition: 1s;
  box-shadow: 5px 5px;
  &:hover {
    opacity: 0.8;
  }
  
}
.slick-next:before {
  color: #00bf;
}
.slick-prev:before {
  color: #00bf;
}
.slick-slide > div {
  margin: 0 10px;
}
