/* Container */
.container {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #385986;
    border-radius: 12px;
    margin-right: 20px;
    box-shadow: 0 2px 6px #8aaee0;
  }
  
  .profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
    color: #555;
  }
  
  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    cursor: pointer;
    color: #555;
    font-weight: bold;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: all 0.3s;
  }
  
  .menu-item:hover,
  .menu-item.active {
    background-color: #F0F3FC;
    border: 1px solid #F0F3FC;
    color: #385986;
  }
  
  .menu-icon {
    margin-right: 10px;
    color: #555;
  }
  
  /* Main Content */
  .content {
    flex: 1;
    padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
    box-sizing: border-box;
  }
  
  /* Box Wrapper */
  .section-title {
    font-weight: bold;
    font-size: 24px;
    color: #385986;
    margin-bottom: 20px;
  }
  
  /* Refund Request */
  .refund-request {
    display: flex;
    flex-direction: column;
  }
  
  .refund-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px #8aaee0;
  }
  
  .refund-image {
    width: 100px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
  }
  
  .refund-info h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .refund-info p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .status {
    font-weight: bold;
  }
  
  .status.completed {
    color: green;
  }
  
  .status.in-progress {
    color: blue;
  }
  .status.refuse {
    color: red;
  }
  