.nhapmkmoi {
    text-align: center; // can le giua
} 
.tong-password{
    justify-content: center; /* Căn giữa theo chiều ngang */
    width: 30%; 
    margin: 0 auto;
    margin-top: 20px; /* Khoảng cách phía trên */
    .tieude{
        .tour{
            display:inline;
            color:#0066FF;
        }
        .king{
            display:inline;
            color: rgba(138, 138, 0, 0.485);
        }
    }
    .onhapmk{
        .mk{
            width:100%; // chieu ngang 100%
                border-width: 20px solid black ;
                height: 40px;
                margin-bottom: 20px; /* Khoảng cách phía dưới */
        }
        .nhaplaimk{
            width:100%; // chieu ngang 100%
                border-width: 20px solid black ;
                height: 40px;
                margin-bottom: 20px; /* Khoảng cách phía dưới */
        }
    }  
    .nutxacnhandoimk{
        margin-top: 20px; /* Khoảng cách phía trên */
        margin-bottom: 20px; /* Khoảng cách phía dưới */
        width: 100%; //chieu ngang 100%
        border-radius: 20px; /* Bo tròn các góc 5px */
        font-size: 23px; 
        background-color: #0066FF;
        color: #fff;
        height: 45px;
    } 
}