
.admin-metrics{
    background-color: rgb(227,231,252);
    padding: 0 2rem;
    .admin-grid-one{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
        height: 40%;
        margin-bottom: 1rem;
        .admin-topcard{
            height: 100%;
            width: 100%;
            background-color: white;
            border-radius: 0.4rem;
            padding: 1rem 1rem;
            transition: 0.3s ease-in-out;
            &:hover {
                transform: translateY(-4px);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px,
                rgba(0,0,0,0.04) 0px 10px 10px -5px;

            }
        }
        // cua cai mua ve
        // .music_metric{
        //     background-color: white;
        //     border-radius: 0.4rem;
        //     padding: 1rem 1rem;
        //     transition: 0.3s ease-in-out;
        //     &:hover {
        //         transform: translateY(-4px);
        //         box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px,
        //         rgba(0,0,0,0.04) 0px 10px 10px -5px;

        //     }
            
        //     .music_metric_info {
        //         display: gird;
        //         justify-content: space-between;
        //         border-radius: 0.5rem;
        //         padding: 0.5rem;
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //         // get cardIconStyle
        //         .SLVD_icon{
        //             cursor: pointer;
        //             background-color: #4362ee46;
        //             svg{
        //                 color: #4362ee46;
        //                 font-size: 1.4rem;
        //             }
        //             border-radius: 0.5rem;
        //             padding: 0.5rem;
        //             display:flex;
        //             justify-content: center;
        //             align-items: center;
        //         }
        //     }
        // }
        // tu file cardIcon
        
        .SLNguoiDung{
            height: 100%;
            width: 100%;
            background-color: white;
            border-radius: 0.4rem;
            padding: 1rem 1rem;
            transition: 0.3s ease-in-out;
            &:hover {
                transform: translateY(-4px);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px,
                rgba(0,0,0,0.04) 0px 10px 10px -5px;
        
            }
            .thanhPhanSLND{
                display:flex;
                margin-bottom: 1rem;
                gap: 1rem;
                background-color: #4362ee46; 
                border-radius: 0.5rem;
                padding: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                
                &__meta{
                    display: flex;
                    margin-left: 3rem;
                    gap: 2rem;
                }
            }
        }
    }

    .admin-grid-two{
        // display: flex;
        // grid-template-columns: 2ft 1ft 1ft;
        // gap: 1rem;
        // // height: 40%;
        // // them vaof
        // height: 100%;
        // width: 100%;
        // //background-color: white;
        // border-radius: 0.4rem;
        // padding: 1rem 1rem;
        // transition: 0.3s ease-in-out;
        // &:hover {
        //     transform: translateY(-4px);
        //     box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px,
        //     rgba(0,0,0,0.04) 0px 10px 10px -5px;
    
        // }
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
        height: 40%;
        margin-bottom: 1rem;
        .trending-ticket{
            height: 100%;
            width: 100%;
            background-color: white;
            border-radius: 0.4rem;
            padding: 1rem 1rem;
            transition: 0.3s ease-in-out;
            &:hover {
                transform: translateY(-4px);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px,
                rgba(0,0,0,0.04) 0px 10px 10px -5px;
        
            }
        }
        .trend-info{
            margin-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            background-color: #4362ee46;
            
            border-radius: 0.5rem;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .trend{
            display:flex;
            margin-bottom: 1.4rem;
            gap: 1rem;
            justify-content: space-between;
            @media (max-width: 1080px) {
                flex-direction: column;
            }
            .trend-info {
                gap: 1rem;
                width: 40%;
                display: flex;
                .trend-image {
                    border-radius: 1rem;;
                    height: 3rem;
                }
            }
            &__meta{
                display: flex;
                gap: 1rem;
            }
        }
        .TopDonate{
            height: 100%;
            width: 100%;
            background-color: white;
            border-radius: 0.4rem;
            padding: 1rem 1rem;
            transition: 0.3s ease-in-out;
            &:hover {
                transform: translateY(-4px);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px 25px,
                rgba(0,0,0,0.04) 0px 10px 10px -5px;
        
            }
            .TopDonate_tieude{
                display: flex;
                justify-content: space-between;
                margin-bottom: 1rem;
                cursor: pointer;
                background-color: #4362ee46;
                svg{
                    color: #4361ee;
                    font-size: 1.4rem;
                }
                border-radius: 0.5rem;
                padding: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .TopDonate_info{
                display:flex;
                margin-bottom: 1rem;
                gap: 1rem;
                img {
                    border-radius: 2rem;
                    height: 2.5rem;
                }
                &__meta{
                    display: flex;
                    margin-left: 3rem;
                    gap: 2rem;
                }
            }
        }
        
    }
}
